*,

::before,

::after {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

ul,

li {

    list-style: none;

}

body {

    font-family: "Roboto", sans-serif;

    font-size: 0.9735rem;

    font-weight: 400;

    direction: ltr;

    line-height: 1.4286;

    background: #fff;

    color: #202124;

    overflow-x: hidden;

}

.main {

    margin-top: 15vh;

}

/* content */

.content {

    display: flex;

}

.wrapper {

    margin: 0 auto;

    width: 28.125rem;

    height: auto;

    min-height: 31.125rem;

    padding: 3rem 2.5rem 2.25rem;

    border: 1px solid #dee2e6 !important;

}

.logo-wrap {

    text-align: center;

}

.h1-g {

    color: #202124;

    text-align: center;

    padding-top: 1rem;

    padding-bottom: 0;

    font-size: 1.5rem;

    line-height: 1.3333;

    margin-top: 0;

    margin-bottom: 0;

    font-weight: 400;

}

.sub-title {

    color: #202124;

    text-align: center;

    font-size: 1rem;

    letter-spacing: 0.1;

    line-height: 1.5;

    padding-bottom: 0;

    padding-top: 0.5rem;

}

.userI-wrap {

    display: inline-block;

    padding: 1.5rem 0 0;

    vertical-align: top;

    white-space: normal;

    width: 100%;

    border: solid 0 transparent;

}

.gmail-input {

    height: 3.5rem;

}

.input-field {

    height: 100% !important;

    display: block;

    border-radius: 4px;

    outline: none;

    border: 1px solid #dadce0;

    font-size: 1.0625rem;

    height: 1.75rem;

    margin: 1px 1px 0 1px;

    padding: 0.8125rem 0.9735rem;

    z-index: 1;

}

.forgot-email {

    padding-top: 0.5625rem;

    padding-bottom: 3px;

}

.forgot-email span {

    color: #1a73e8;

    font-weight: 500;

    letter-spacing: 0.25px;

    border: 0;

    cursor: pointer;

    text-align: left;

}

.userI-bottom {

    color: #5f6368;

    line-height: 1.4286;

    margin-top: 2rem;

}

.userb_wrap {

    padding-top: 0.5625rem;

    padding-bottom: 3px;

    font-size: 0.9735rem;

    color: #5f6368;

}

.userb_wrap span:last-child {

    color: #1a73e8;

    font-weight: 500;

    border-radius: 4px;

}

.next-content {

    margin-top: 2.5rem;

    min-height: 3rem;

    padding-bottom: 1.25rem;

}

.next_wrap {

    display: flex;

    flex-wrap: wrap;

    width: 100%;

    justify-content: space-between;

}

.create-account span {

    color: #1a73e8;

    font-weight: 500;

}

footer {

    color: #202124;

    font-size: 0.75rem;

    margin: 0 auto;

    width: 28.125rem;

    margin-top: 1.5rem;

}

footer ul {

    display: flex;

    justify-content: space-between;

}

.ft-wrap {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

.lang {

    max-width: 60%;

    flex-basis: 60%;

    font-size: 0.8125rem;

}

.ft-wrap ul {

    max-width: 40%;

    flex-basis: 40%;

    font-weight: 500;

    color: #757575;

}

/*  */

.sub_wrap {

    display: inline-block;

    font-weight: 500;

    padding: 3px 8px;

    border-radius: 1.25rem;

    color: #3c4043;

    letter-spacing: 0.1px;

}

.user-input input:focus {

    border: 2px solid #1a73e8;

}

.user-input input:focus:not([disabled]) ~ .un-ph,

.user-input.hasValue input:not([disabled]) ~ .un-ph {

    display: inline-block;

    padding: 0 3px;

    background-color: #fff;

    transform: scale(0.8) translateY(-2.1875rem) translateX(-1.5625rem);

    color: #1a73e8;

}

.un-ph {

    position: absolute;

    pointer-events: none;

    left: 1rem;

    top: 1rem;

    font-size: 1.0625rem;

    color: #757575;

    z-index: 1;

    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.un-ph2 {

    position: absolute;

    pointer-events: none;

    left: 1rem;

    top: -0.625rem;

    font-size: 0.85rem;

    background-color: #fff;

    color: #1a73e8;

    padding: 0 3px;

    display: inline-block;

}

.input-empty {

    font-size: 0.8125rem;

    color: #d93025;

    padding-top: 7px;

}

/* logo */

.logo img {

    width: 4.6875rem;

    height: 1.5rem;

}

/*  */

.btn-primary {

    font-size: 0.9375rem !important;

    padding: 6px 1, 5625rem !important;

    font-weight: 500 !important;

    background-color: #1a73e8 !important;

}

/* loading */

/*  */

#loadingProgressG {

    width: 100%;

    height: 5px;

    overflow: hidden;

    background-color: #1a73e8;

    margin: auto;

    border-radius: 0.625rem;

    -o-border-radius: 0.625rem;

    -ms-border-radius: 0.625rem;

    -webkit-border-radius: 0.625rem;

    -moz-border-radius: 0.625rem;

    position: absolute;

    top: 0;

    left: 0;

}

.loadingProgressG {

    background-color: #f1f1f1;

    margin-top: 0;

    margin-left: -250px;

    animation-name: bounce_loadingProgressG;

    -o-animation-name: bounce_loadingProgressG;

    -ms-animation-name: bounce_loadingProgressG;

    -webkit-animation-name: bounce_loadingProgressG;

    -moz-animation-name: bounce_loadingProgressG;

    animation-duration: 1.5s;

    -o-animation-duration: 1.5s;

    -ms-animation-duration: 1.5s;

    -webkit-animation-duration: 1.5s;

    -moz-animation-duration: 1.5s;

    animation-iteration-count: infinite;

    -o-animation-iteration-count: infinite;

    -ms-animation-iteration-count: infinite;

    -webkit-animation-iteration-count: infinite;

    -moz-animation-iteration-count: infinite;

    animation-timing-function: linear;

    -o-animation-timing-function: linear;

    -ms-animation-timing-function: linear;

    -webkit-animation-timing-function: linear;

    -moz-animation-timing-function: linear;

    width: 250px;

    height: 10.5625rem;

}



@keyframes bounce_loadingProgressG {

    0% {

        margin-left: -250px;

    }



    100% {

        margin-left: 250px;

    }

}



@-o-keyframes bounce_loadingProgressG {

    0% {

        margin-left: -250px;

    }



    100% {

        margin-left: 250px;

    }

}



@-ms-keyframes bounce_loadingProgressG {

    0% {

        margin-left: -250px;

    }



    100% {

        margin-left: 250px;

    }

}



@-webkit-keyframes bounce_loadingProgressG {

    0% {

        margin-left: -250px;

    }



    100% {

        margin-left: 250px;

    }

}



@-moz-keyframes bounce_loadingProgressG {

    0% {

        margin-left: -250px;

    }



    100% {

        margin-left: 250px;

    }

}



/* media */

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) and (-webkit-min-device-pixel-ratio: 2) {

    html {

        font-size: 15.5px;

    }

    .wrapper {

        border: 0 !important;

        width: 24rem;

        padding: 1.5rem;

        min-height: 33rem;

    }

    .main {

        margin-top: 0;

    }

    .footer {

        width: 24rem;

        margin-top: 0;

    }

    .ft-wrap {

        flex-direction: row;

        padding: 0 1.5rem;

    }

    .lang {

        margin-bottom: 1rem;

        max-width: 50%;

        flex-basis: 50%;

    }

    .ft-wrap ul {

        max-width: 50%;

        flex-basis: 50%;

    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {

    html {

        font-size: 15.5px;

    }

    .wrapper {

        border: 0 !important;

        width: 20rem;

        padding: 1.5rem;

        min-height: 30rem;

    }

    .main {

        margin-top: 0;

    }

    .footer {

        width: 20rem;

        margin-top: 0;

    }

    .ft-wrap {

        flex-direction: column;

        padding: 0 1.5rem;

    }

    .lang {

        margin-bottom: 1rem;

    }

    .ft-wrap ul {

        max-width: 60%;

        flex-basis: 60%;

    }

}

@media only screen and (min-device-width: 414px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {

     html {

        font-size: 15.5px;

    }

    .wrapper {

        border: 0 !important;

        width: 26rem;

        padding: 1.5rem;

        min-height: 33rem;

    }

    .main {

        margin-top: 0;

    }

    .footer {

        width: 26rem;

        margin-top: 0;

    }

    .ft-wrap {

        flex-direction: row;

        padding: 0 1.5rem;

    }

    .lang {

        margin-bottom: 1rem;

        max-width: 55%;

        flex-basis: 55%;

    }

    .ft-wrap ul {

        max-width: 45%;

        flex-basis: 45%;

    }

}

